<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a4cd"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1" style="font-weight: bold;" >Basic banking system task&nbsp;</p>
  </div></footer>
<section class="u-backlink u-clearfix u-grey-80">
 
  <p class="u-text">
    <span style="font-weight: bold;">created with ejs, node.js, express.js and mysql</span>
  </p>
   
</section>
</body>
</html>