<%- include('includes/head.ejs')%>
    <section class="u-clearfix u-section-1" id="carousel_3047">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-size-60 u-image-1">
                  <div class="u-container-layout u-container-layout-1"></div>
                  
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-40">
                  <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-2">
                      <div class="u-container-layout u-valign-bottom-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-2">
                        <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">Basic Banking System&nbsp;</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-20">
                  <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                      <div class="u-container-layout u-container-layout-3">
                        <p class="u-text u-text-grey-30 u-text-2">Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                      <div class="u-container-layout u-container-layout-4">
                        <p class="u-text u-text-grey-30 u-text-3">Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="/admin/transfer" class="u-btn u-button-style u-btn-1">View all users</a>
    </section>
    
    
    <%- include('includes/end.ejs')%>